body{
    font-family: 'roboto';
    color: white;
    display: flex;
    margin: 0;
   
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.godContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: repeat radial-gradient(#555, #333) ;
    height: 100%;
    width: 200%;

}

.loaderContainer{
   background-color: transparent;
    height: auto; 
    width: auto;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    height: 30px;
    width: 30px;
    border: 3px solid;
    border-color: white transparent;
    border-radius: 50%;
    z-index: 100;
animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }

}

.outerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #666;
    border-radius: 20px;
    width: auto;
    height: auto;
    box-shadow: 0 20px 40px #222;
    visibility: hidden;
    
}




#dateAndTime{
    font-size: 25px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top:40px;
    margin-bottom: 40px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.pill{
    color: black;
    font-size: 60px;
    font-weight: 200;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 200px;
    height: 100px;
    transition: .5s;
}

.pill:hover{
    box-shadow: 0 0 10px black inset;
    transition: .5s;
}

.material-symbols-rounded {
    font-size: 50px;
    font-weight: 100;
    transition: .5s;
    animation: floating 3s ease-in-out infinite;
    /* animation: spin 5s ease-in-out infinite; */

}

@keyframes floating {
    0% { transform: translate(0,  -2px); }
    50%  { transform: translate(0, 2px); }
    100%   { transform: translate(0, -2px); }   
}
.extraInfo{
    font-family: 'roboto';
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin-bottom: 40px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 40px;
    
}



.leftInfo{
    display: flex;
    flex-direction: column;
    text-align: start;
  
}

.leftInfo p{
    margin: 5px;
    margin-right: 85px;
}

.rightInfo{
    display: flex;
    text-align: end;
    flex-direction: column;
     white-space: nowrap;
  overflow: hidden;
 
}

.rightInfo p{
    margin: 5px;
    margin-left: 85px;
}



@media(max-width: 450px){
    .outerBox{
        width: 90%;
        height: auto;
    }
    
    .rightInfo p{
        margin-left: 65px;
    }
    .leftInfo p{
        margin-right: 65px;
    }
}

@media(max-width: 385px){
    .pill{
        color: black;
        font-size: 53px;
        font-weight: 200;
        background-color: #ebebeb;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        width: 180px;
        height: 90px;
        transition: .5s;
    }
    .material-symbols-rounded {
        font-size: 47px;
        transition: .5s;
    }

}
 
@media(max-width: 345px){
    .rightInfo p{
        margin-left: 35px;
    }
    .leftInfo p{
        margin-right: 35px;
    }
}